apache-airflow==2.6.3
psycopg2-binary
yfinance==0.1.74
pylru==1.0.9
scipy
pyhocon==0.3.37
statsmodels
fredapi==0.4.0
pandas-datareader==0.10.0
google-cloud-bigquery==2.13.1
google-cloud-storage==1.37.1
pandas==2.0.3
pyarrow
tables
gcsfs~=2023.6.0
python-dotenv~=1.0.0
numpy~=1.24.4
pytz~=2023.3
python-dateutil~=2.8.2
requests~=2.31.0
tensorflow==2.2.0
keras==2.2.4
tqdm
